<div class="row" id="bloque-factura">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-body  no-padding text-center">
                <h3 class="bloque-factura-nombre">{{ talonario.nombre }}</h3>
                <h5 class=" bloque-factura-actividad-economica">{{ talonario.actividad_economica }}</h5>
                <p class=" bloque-factura-direccion">{{ talonario.direccion }}</p>
                <p>Tel: <span class="bloque-factura-telefono">{{ talonario.telefono }}</span></p>
            </div>
        </div>
    </div>
    <div class="col-md-5 ">
        <div class="panel panel-default no-padding text-center">
            <div class="panel-body no-padding">
                <p style="margin:0">
                    <small><strong>Timbrado Nro <span
                            class="bloque-factura-numero-timbrado">{{ talonario.numero_timbrado }}</span></strong><br>
                        Inicio de Vigencia: <span class="bloque-factura-vigencia-desde">{{ talonario.vigencia_desde }}</span><br>
                        Fin de Vigencia: <span class="bloque-factura-vigencia-hasta">{{ talonario.vigencia_hasta }}</span>
                    </small>
                    <br>

                    <strong>RUC: <span class=" bloque-factura-ruc">{{ talonario.ruc }}</span></strong>
                </p>
                <h4 class="" style="margin: 0;">Factura</h4>
                <h3 style="margin:5px">Nro: <span class=" bloque-factura-punto-emision">{{ talonario.punto_emision }}</span>-<span
                        class="bloque-factura-nro-factura">{{ nro_factura }}</span></h3>

            </div>
        </div>
    </div>


</div>
<div class="row">
    <!-- Fecha -->
    <div class="form-group col-md-3 col-sm-3 col-xs-12">
        {% include "forms/label.html" with field=form.fecha %}
        {% include "forms/datefield.html" with field=form.fecha %}
        {% include "forms/field-errors.html" with field=form.fecha %}
    </div>


    <!-- Timbrado -->
    <input type="hidden" id="id_talonario_factura" name="talonario_factura" value="{{ talonario.id }}" />

    <!-- Nro Factura -->
    <input type="hidden" name="nro_factura" id="id_nro_factura" value="{{ talonario.punto_emision }}-{{ nro_factura }}">
    <input type="hidden" name="nro_factura_punto_emision" id="id_nro_factura_punto_emision" value="{{ talonario.punto_emision }}">
    <input type="hidden" name="nro_factura_numero" value="{{ nro_factura }}" id="id_nro_factura_numero">
    <!-- Tipo de pago -->
    <div class="form-group col-md-3 col-sm-3 col-xs-12 pull-right">
        {% include "forms/label.html" with field=form.tipo_pago %}
        {{ form.tipo_pago }}
        {% include "forms/field-errors.html" with field=form.tipo_pago %}
    </div>
</div>

<!-- Cliente -->
<div class="row">
    {{ formularioCliente.ruc_cliente.as_hidden }}
    <!-- Cliente -->
    <div class="form-group col-md-3 col-sm-3 col-xs-12">
        {% include "forms/label.html" with field=form.cliente %}
        {{ form.cliente }}
        {% include "forms/field-errors.html" with field=form.cliente %}

    </div>
    <div class="form-group col-md-9 col-sm-9 col-xs-12">
        {% include "forms/label.html" with field=formularioCliente.nombre_razon %}
        {% include "forms/charfield.html" with field=formularioCliente.nombre_razon %}
        {% include "forms/field-errors.html" with field=formularioCliente.nombre_razon %}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-9 col-sm-9 col-xs-12">
        {% include "forms/label.html" with field=formularioCliente.direccion %}
        {% include "forms/charfield.html" with field=formularioCliente.direccion %}
        {% include "forms/field-errors.html" with field=formularioCliente.direccion %}
    </div>
    <div class="form-group col-md-3 col-sm-3 col-xs-12">
        {% include "forms/label.html" with field=formularioCliente.telefono %}
        {% include "forms/charfield.html" with field=formularioCliente.telefono %}
        {% include "forms/field-errors.html" with field=formularioCliente.telefono %}
    </div>
</div>
<div class="row">
    <!-- Monto total -->
    <div class="form-group col-md-2 col-sm-2 col-xs-12">
        {% include "forms/label.html" with field=form.monto_total %}
        {% include "forms/integerfield.html" with field=form.monto_total %}
        {% include "forms/field-errors.html" with field=form.monto_total %}
    </div>

    <div class="col-md-4">
    </div>

    <!-- IVA 10 total -->
    <div class="form-group col-md-2 col-sm-2 col-xs-12">
        {% include "forms/label.html" with field=form.total_iva_10 %}
        {% include "forms/integerfield.html" with field=form.total_iva_10 %}
        {% include "forms/field-errors.html" with field=form.total_iva_10 %}
    </div>

    <!-- IVA 5 total -->
    <div class="form-group col-md-2 col-sm-2 col-xs-12">
        {% include "forms/label.html" with field=form.total_iva_5 %}
        {% include "forms/integerfield.html" with field=form.total_iva_5 %}
        {% include "forms/field-errors.html" with field=form.total_iva_5 %}
    </div>

    <!-- EXENTAS total -->
{#    <div class="form-group col-md-2 col-sm-2 col-xs-12">#}
{#        {% include "forms/label.html" with field=form.total_exentas %}#}
{#        {% include "forms/integerfield.html" with field=form.total_exentas %}#}
{#        {% include "forms/field-errors.html" with field=form.total_exentas %}#}
{#    </div>#}

    <!-- Monto total -->
    <div class="form-group col-md-2 col-sm-2 col-xs-12 ">
        {% include "forms/label.html" with field=form.total_iva %}
        {% include "forms/integerfield.html" with field=form.total_iva %}
        {% include "forms/field-errors.html" with field=form.total_iva %}
    </div>
</div>