{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3><strong>Registro de Egresos</strong></h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <form id="creardetcompra" method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ formularioDetalleSet.management_form }}
                        {% include "cabecera-compra.html" with form=form %}

                        <fieldset>
                            <legend></legend>
                            <div class="center text-center">
                                 <div class="btn-group btn-sm">
                                    <button class="btn btn-sm btn-danger elimina-detalle" onclick="eliminaDetalle();event.preventDefault();"><span class="glyphicon-minus"></span></button>
                                    <button class="btn btn-sm btn-success agrega-detalle" onclick="agregaDetalle();event.preventDefault();"><span class="glyphicon-plus"></span></button>
                                </div>
                            </div>

                            <table class="table table-striped bulk_action jambo_table">
                                <thead>

                                <tr>
                                    <th class="numero">Nro</th>
                                    <th class="hidden id">id</th>
                                    <th class="col-md-8 col-sm-8 detalle">Descripcion</th>
                                    <th class="exentas">Exentas</th>
                                    <th class="monto_5">5%</th>
                                    <th class="monto_10">10%</th>
                                </tr>
                                </thead>
                                <tbody id="detalles">
                                    {% for formDetalle in formularioDetalleSet %}
                                        <tr id="id_compradetalle_set-{{ forloop.counter0 }}" >

                                            <td class="numero text-center">{{ forloop.counter }}</td>
                                            <td class="hidden">{{ formularioDetalleSet.empty_form.id }}</td>
                                            <td class="detalle"
                                                style="padding: 0">{% include "forms/charfield.html" with field=formDetalle.detalle %}</td>
                                            <td class="monto_exento"
                                                style="padding: 0">{% include "forms/integerfield.html" with field=formDetalle.monto_exento %}</td>
                                            <td class="monto_5"
                                                style="padding: 0">{% include "forms/integerfield.html" with field=formDetalle.monto_5 %}</td>
                                            <td class="monto_10"
                                                style="padding: 0">{% include "forms/integerfield.html" with field=formDetalle.monto_10 %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="table-row-footer">
                                        <th></th>
                                        <th class="text-right">Subtotal</th>
                                        <th ><span  id="subtotal-monto-exentas">0</span></th>
                                        <th ><span id="subtotal-monto-5">0</span></th>
                                        <th ><span id="subtotal-monto-10">0</span></th>
                                    </tr>
                            </table>

                        </fieldset>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <a class="btn btn-primary" type="button" href="/">Cancelar</a>
                                <input type="submit" class="btn btn-success" value="Guardar"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <table>
        <tr id="row-template" >

            <td class="numero text-center"></td>
            <td class="hidden">{{ formularioDetalleSet.empty_form.id }}</td>
            <td class="detalle"
                style="padding: 0">{% include "forms/charfield.html" with field=formularioDetalleSet.empty_form.detalle %}</td>
            <td class="monto_exento"
                style="padding: 0">{% include "forms/integerfield.html" with field=formularioDetalleSet.empty_form.monto_exento %}</td>
            <td class="monto_5"
                style="padding: 0">{% include "forms/integerfield.html" with field=formularioDetalleSet.empty_form.monto_5 %}</td>
            <td class="monto_10"
                style="padding: 0">{% include "forms/integerfield.html" with field=formularioDetalleSet.empty_form.monto_10 %}</td>
        </tr>
            </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script>
        function configurarICheck(element) {
            element.parents('ul').attr('style', 'list-style-type: none;padding:0; display: flex');
            element.parents('label').attr('style', 'padding: 6px;margin:0');
            element.iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        }
        $(document).ready(function () {
            window.rowTemplate = $('#row-template');
            configurarICheck($('[name=tipo_pago]'));
            $('.readonly-input input').attr('readonly', true);
            window.totalForms = $('#id_compradetalle_set-TOTAL_FORMS');

            useAutonumericCurrency('#id_compradetalle_set-0-monto_exento');
            useAutonumericCurrency('#id_compradetalle_set-0-monto_5');
            useAutonumericCurrency('#id_compradetalle_set-0-monto_10');
            $('.monto_exento input,.monto_5 input,.monto_10 input').on('change keypress', function(){
                calcularTotales();
            });

            useAutonumericCurrency('#id_monto_total');
            useAutonumericCurrency('#subtotal-monto-exentas');
            useAutonumericCurrency('#subtotal-monto-5');
            useAutonumericCurrency('#id_total_grav_5');
            useAutonumericCurrency('#id_total_grav_10');
            useAutonumericCurrency('#id_total_grav_exentas');
            useAutonumericCurrency('#subtotal-monto-10');
            useAutonumericCurrency('#id_total_iva_10');
            useAutonumericCurrency('#id_total_iva_5');
            useAutonumericCurrency('#id_total_iva');
            
            $('form input').keydown(function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    return false;
                }
            });
            $('.monto_exento input[type=number],.monto_5 input[type=number],.monto_10 input[type=number]').on('change', function(){
                calcularTotales();
            });

        });

        function agregaDetalle(){
            var formIdx = window.totalForms.val();
            var row = $('<tr></tr>');
            row.attr('id', 'id_compradetalle_set-' + parseInt(formIdx));
            row.append(window.rowTemplate.html().replace(/__prefix__/g, formIdx));
            console.log(formIdx);
            row.find('.numero').text(parseInt(formIdx) + 1);
            $('#detalles').append(row);
            useAutonumericCurrency('#id_compradetalle_set-' + formIdx + '-monto_exento');
            useAutonumericCurrency('#id_compradetalle_set-' + formIdx + '-monto_5');
            useAutonumericCurrency('#id_compradetalle_set-' + formIdx + '-monto_10');
            $('.monto_exento input,.monto_5 input,.monto_10 input').on('change keypress', function(){
                calcularTotales();
            });
            window.totalForms.val(parseInt(formIdx) + 1);
        }
        function eliminaDetalle(){
            var formIdx = window.totalForms.val();
            $('#id_compradetalle_set-' + (parseInt(formIdx)-1)).remove();
            window.totalForms.val(Math.max(parseInt(formIdx) - 1, 0));
        }

        function calcularTotales() {
            var formIdx = parseInt(window.totalForms.val());
            var suma_exentas = 0;
            var suma_5 = 0;
            var suma_10 = 0;
            console.log("CalcularTotales");
            for(var i = 0; i < formIdx ; i ++ ) {
                suma_exentas += getAutonumericCurrency('#id_compradetalle_set-' + i + '-monto_exento');
                suma_5 += getAutonumericCurrency('#id_compradetalle_set-' + i + '-monto_5');
                suma_10 += getAutonumericCurrency('#id_compradetalle_set-' + i + '-monto_10');
            }
            setAutonumericCurrency('#id_monto_total', suma_exentas + suma_5 + suma_10);
            setAutonumericCurrency('#subtotal-monto-exentas', suma_exentas);
            setAutonumericCurrency('#subtotal-monto-5', suma_5);
            setAutonumericCurrency('#id_total_grav_5', suma_5);
            setAutonumericCurrency('#id_total_grav_10', suma_10);
            setAutonumericCurrency('#id_total_grav_exentas', suma_exentas);
            setAutonumericCurrency('#subtotal-monto-10', suma_10);
            setAutonumericCurrency('#id_total_iva_10', Math.round(suma_10 / 11));
            setAutonumericCurrency('#id_total_iva_5', Math.round(suma_5 / 21));
            setAutonumericCurrency('#id_total_iva', Math.round(suma_5 / 21) + Math.round(suma_10 / 11));
        }

    </script>
{% endblock %}

{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Registro de Egresos</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
    <p style="text-align: center;">&nbsp;</p>
        <img src="/static/img/pasos_nuevo_egreso.gif" alt="pasos_nuevo_egreso" width="800"  style="display: block; margin-left: auto;margin-right: auto;"/>
        <hr>
        <p><span style="color: #003366;"><strong> 1. Fecha: se ingresa la fecha de la operación.
        <br><br>2. RUC Proveedor: cargar con XXX o el que se encuentre en la factura/ticket.
            <br><br>3. Proveedor: nombre razón o nombre del proveedor.
            <br><br>4. Nro Factura: número de 13 digitos. Ej: 001-001-0000001
            <br><br>5. Tipo Pago: Contado/Crédito.
            <br><br>6. Descripción: breve descripción de la compra realizada.
            <hr>
            <br><span style="color: #003366;"><strong>7. Agregar o Sacar detalle de factura. </strong></span></strong></span></p>.<img src="/static/img/mas_menos.png" alt="mas_menos" />

        <p> <br /><span style="color: #003366;">&bull; Agregar un artículo y cargar de forma manual la cantidad de artículos y el precio total.</span></p>
        <p> <br /><span style="color: #003366;">&bull; Sacar campos de la descripción antes de crear la factura egreso.</span></p><br>
        <p>&bull; <strong><em>El monto total, subtotales, total IVA 5%, total IVA 10%, IVA Total son calculados y generados de forma automática.</em></strong>.</strong></p>
        <hr>
        <p style="text-align: center;"> <span style="font-size: 12pt;"><strong>Acciones  : </strong></span></p>

        <p> <br /><span style="color: #003366;"><strong>&bull; Para generar la factura presione : <img src="/static/img/guardar.png" alt="guardar" /></strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Si no desea generar la factura presione : <img src="/static/img/cancelar.png" alt="cancelar" /></strong></span></p>
{% endblock %}
