{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>Nueva Factura</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <form id="crearfactura" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include "forms/form.html" with form=form %}

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-primary" type="button" href="/tienda/facturas">Cancelar</a>
                                <button class="btn btn-primary" type="reset">Limpiar</button>
                                <input type="submit" class="btn btn-success" value="Guardar" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script>


        function configurarICheck(element) {
            element.parents('ul').attr('style', 'list-style-type: none;padding:0');
            element.iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        }
        $(document).ready(function () {

            configurarICheck($("[name=estado]"));
        })
    </script>
{% endblock %}


{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Nueva Factura</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
    <p style="text-align: center;">&nbsp;</p>
        <img src="/static/img/pasos_nuevo_talonario.gif" alt="pasos_nuevo_talonarior" width="800"  style="display: block; margin-left: auto;margin-right: auto;"/>
        <hr>
        <p><span style="color: #003366;"><strong> 1. Nombre de la escuela: Pecesitos de Jesús.
        <br><br>2. RUC de la escuela.
            <br><br>3. Actividad Económica "Educación".
            <br><br>4. Direcci&oacute;n de la matriz y del establecimiento.
            <br><br>5. Tel&eacute;fono de la escuela
            <br><br>6. Numero de timbrado : El SET entregará el timbrado de 7 dígitos a través de las imprentas habilitadas. Ej: 1234567
            <br><br>7. Punto de Emisi&oacute;n : Los tres primeros(001)corresponderán al código del establecimiento declarado en
            el RUC (número de sucursal).<br> Los siguientes tres dígitos(002)corresponderán al punto de expedición (cajas de cobro).
            Ej: 001-002.
            <br><br>8. Nro inicial : numeración secuencial de 7 dígitos comienza con 0000001.
            <br><br>9. Nro final : numeración secuencial de 7 dígitos finaliza con 9999999.
            <br><br>10. Vigencia desde: Fecha inicio de vigencia de la factura, es otorgada por el SET.
            <br><br>11. Vigencia hasta: Fecha fin de vigencia de la factura, es otorgada por el SET.
            <br><br>12. Estado: "Activo" o "Inactivo".

            <hr>
             <p style="text-align: center;"> <span style="font-size: 12pt;"><strong>Acciones  : </strong></span></p>
            <p> <br /><span style="color: #003366;"><strong>&bull; Guardar registro de factura, clic en : <img src="/static/img/guardar.png" alt="guardar" /></strong></span></p>
            <p> <br /><span style="color: #003366;"><strong>&bull; Limpiar campos del registro , clic en : <img src="/static/img/limpiar.png" alt="limpiar" /></strong></span></p>
            <p> <br /><span style="color: #003366;"><strong>&bull; Si no desea guardar el registro dar clic en : <img src="/static/img/cancelar.png" alt="cancelar" /></strong></span></p>
{% endblock %}
