{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>Nueva Factura</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <form id="crearfactura" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include "forms/form.html" with form=form %}

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-primary" type="button" href="/tienda/facturas">Cancelar</a>
                                <button class="btn btn-primary" type="reset">Limpiar</button>
                                <input type="submit" class="btn btn-success" value="Guardar" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script>


        function configurarICheck(element) {
            element.parents('ul').attr('style', 'list-style-type: none;padding:0');
            element.iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        }
        $(document).ready(function () {

            configurarICheck($("[name=estado]"));
        })
    </script>
{% endblock %}

{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Ayuda para agregar Talonario de Factura</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
        <p style="text-align: center;">Se listan los talonarios vigentes y vencidos, puede agregar un nuevo <strong>Talonario vigente</strong>. Siga los siguientes pasos:&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>

        <p><span style="color: #003366;"><strong> Agregar Nuevo Talonario : <img src="/static/img/signo_mas.png" alt="signo_mas" /></strong></span></p>
        <p>&bull; <strong><em> Complete de manera obligatoria los siguientes campos:
        </em></strong>
        <table><ol><li> Nombre
        <br></br><li>RUC
        <br></br><li>Actividad Economica
        <br></br><li>Direcci&oacute;n
        <br></br><li>Tel&eacute;fono
        <br></br><li>Numero de timbrado : debe ser de 13 digitos <strong>001-001-0000001</strong>
        <br></br><li>Punto de Emisi&oacute;n : si la escuela tiene sucursales este numero variar&aacute; <strong>001-001</strong>
        <br></br><li>Nro inicial : los primero numeros que van luego de los primeros 6 digitos  <strong>0000001</strong>
        <br></br><li>Nro final : los ultimos numeros que van luego de los primeros 6 digitos <strong>9999999</strong>
        <br></br><li>Vigencia desde: esta vigencia es otorgada por el SET.
        <br></br><li>Vigencia hasta: esta vigencia es otorgada por el SET.
        <br></br><li>Estado
        </ol></table></p>
        <p>&bull;<strong><em> Y podemos guardar el talonario <img src="/static/img/guardar.png" alt="guardar" /></em></strong></p>
{% endblock %}
