{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>NUEVA OPERACIÓN</h3>
        </div>
    </div>
<body>

  </body>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <form id="crearfactura" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include "forms/form.html" with form=form %}

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-primary" type="button" href="/tienda/caja">Cancelar</a>
                                <button class="btn btn-primary" type="reset">Limpiar</button>
                                <input type="submit" class="btn btn-success" value="Guardar" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script>


        function configurarICheck(element) {
            element.parents('ul').attr('style', 'list-style-type: none;padding:0');
            element.iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        }

        $(document).ready(function () {
            configurarICheck($("[name=tipo_transaccion]"));
            useAutonumericCurrency('#id_monto');

        })




    </script>
{% endblock %}

{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Nueva Operacion</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
<p style="text-align: center;"> <span style="font-size: 12pt;">Cargar campos de la transación, según sean <strong>obligatorio u opcionales</strong>.</span></p>
    <p style="text-align: center;">&nbsp;</p>
        <img src="/static/img/pasos_nueva_caja.gif" alt="pasos_nueva_caja" width="800"  style="display: block;
    margin-left: auto;
    margin-right: auto;
   "/>
        <br><hr>
        <p><span style="color: #003366;"><strong> 1. Fecha de la transaccion anteriores o actual.
            <br><br>2. Concepto: descripción de la entrada o salida realizada.
            <br><br>3. Descripci&oacute;n: breve descripción de la entrada o salida.
            <br><br>4. Monto.
            <br><br>5. Tipo de transacción: elegir ENTRADA / SALIDA.
            <hr>
        <p style="text-align: center;"> <span style="font-size: 12pt;"><strong>Acciones  : </strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Guardar registro de la transacción, clic en : <img src="/static/img/guardar.png" alt="guardar" /></strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Limpiar campos del registro , clic en : <img src="/static/img/limpiar.png" alt="limpiar" /></strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Si no desea guardar el registro dar clic en : <img src="/static/img/cancelar.png" alt="cancelar" /></strong></span></p>
{% endblock %}
