{% extends "base.html" %}
{% block content %}
{% load intdot %}
    <div class="page-title">
        <div class="title_left">
            <h3>OPERACIONES EN CAJA</h3>

        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right top_search">

                    <a class="btn btn-primary pull-right" href="/tienda/caja/new"><i  class="fa fa-plus-square"></i> NUEVA OPERACIÓN</a>

                </div>
            </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">


                    <div class="x_content">

                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0"
                               width="100%">

                            <thead>

                            <tr>

                                <th>Fecha</th>
                                <th>Tipo transacción</th>
                                <th>Concepto</th>
                                <th>Descripción</th>
                                <th>Monto</th>
                                <th>Acción</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for operacion in operaciones %}
                                <tr>
                                    <td>{{ operacion.fecha }}</td>
                                    <td>{{ operacion.tipo_transaccion }}</td>
                                    <td>{{ operacion.concepto }}</td>
                                    <td>{{ operacion.descripcion }}</td>
                                    <td>{{ operacion.monto | intdot }} ₲</td>

                                    <td><a class="btn btn-info btn-xs" href="/tienda/caja/{{ operacion.id }}/update">Editar </a>
                                        <a button class="btn btn-danger btn-xs" data-toggle="modal"
                                           data-target="#eliminar-modal" onclick="formEliminar({{ operacion.id }})">Eliminar</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar modal -->
    <div id="eliminar-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <h4>Está seguro que desea eliminar esta operación?</h4>

                </div>
                <div class="modal-footer">
                    <form method="post" id="eliminar-form">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>

                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        function formEliminar(id){
            $('#eliminar-form').attr('action', '/tienda/caja/' + id + '/delete' );
        }
    </script>
{% endblock %}


{#AYUDA#}
{% block ayuda_titulo %}
   <p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Operaciones de Caja</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
        <p style="text-align: center;">Se puede visualizar las operaciones realizadas o agregar una nueva operaci&oacute;n. Siga los siguientes pasos</p>
        <p style="text-align: center;">&nbsp;</p>

        <p><strong>Presione el signo&nbsp;<img src="/static/img/signo_mas.png" alt="signo_mas" /></strong></p>
        <p><span style="color: #003366;"><strong>Paso 1. Llenar el formulario de Operacion de Caja : </strong></span></p>
        <p>&bull; <em><strong>Complete de manera obligatoria los siguientes campos:</strong></em> Fecha, Concepto, Descripci&oacute;n,
            Monto, Tipo de Transacci&oacute;n</p>
       <!-- <p>&bull; <em><strong>Complete de manera opcional los siguientes campos:</strong></em> Tel&eacute;fono, Otro contacto, Fotocopia de C&eacute;dula, Tipo Responsable</p>-->
        <p><span style="color: #003366;"><strong>Paso 2. Guardar la operacion realizada <img src="/static/img/guardar.png" alt="guardar" /> </strong></span></p>
{% endblock %}
