{% extends "base.html" %}
{% block content %}
{% load intdot %}

    <div class="page-title">
        <div class="title_left">
            <h3>Nuevo Producto</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right top_search">

                    <a class="btn btn-primary pull-right" href="/tienda/productos/new"><i  class="fa fa-plus-square"></i> NUEVO PRODUCTO </a>


                </div>
            </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">


                    <div class="x_content">

                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0"
                               width="100%">

                            <thead>
                            <tr>

                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>

                                <th>Precio venta</th>
                                <th>Costo</th>
                                <th>Iva</th>
                                <th>Estado</th>
                                <th>Existencia</th>
                                <th>Foto</th>

                                <th>Accion</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for producto in productos %}
                                <tr>
                                    <td>{{ producto.codigo }}</td>
                                    <td>{{ producto.nombre}}</td>
                                    <td>{{ producto.descripcion}}</td>

                                    <td>{{ producto.precio_venta| intdot }} ₲</td>
                                    <td>{{ producto.costo| intdot }} ₲</td>
                                    <td>{{ producto.iva }}</td>
                                    <td>{{ producto.estado }}</td>
                                    <td>{{ producto.existencia}}</td>
                                    <td>{% if producto.foto_producto %}
                                        <img height="100px" src="/media/{{ producto.foto_producto }}">{% else %}sin
                                        foto{% endif %}</td>



                                    <td><a class="btn btn-info btn-xs" href="/tienda/productos/{{ producto.codigo }}/update">Editar </a>
                                        <a button class="btn btn-danger btn-xs" data-toggle="modal"
                                           data-target="#eliminar-modal" onclick="formEliminar('{{ producto.codigo }}')">Eliminar</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar modal -->
    <div id="eliminar-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <h4>Esta seguro que desea eliminar este Producto?</h4>

                </div>
                <div class="modal-footer">
                    <form method="post" id="eliminar-form">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>

                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        function formEliminar(codigo){
            console.log(codigo);
            $('#eliminar-form').attr('action', '/tienda/productos/' + codigo + '/delete');
            console.log(codigo);
            console.log($('#eliminar-form').attr('action'));
        }
    </script>
{% endblock %}>

{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Ayuda para agregar Producto</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
        <p style="text-align: center;">Se listan los productos y se puede agregar nuevos. Siga los siguientes pasos:&nbsp;</p>
            <p style="text-align: center;">&nbsp;</p>

        <p><span style="color: #003366;"><strong> Nuevo Producto : <img src="/static/img/signo_mas.png" alt="signo_mas" /></strong></span></p>
        <p>&bull; <strong><em> Complete de manera obligatoria los siguientes campos: </em></strong>

        <table><ol><li> Codigo: sera puesto por la escuela para control interno.
        <br></br><li>Nombre.
        <br></br><li>Descripci&oacute;n.
        <br></br><li>Control de Stock.
        <br></br><li>Precio de Venta : el precio final por el cual sera vendido el producto.
        <br></br><li>Costo : precio de compra del producto.
        <br></br><li>IVA : <strong>5%, 10% o Excentas.</strong>
        <br></br><li>Estado : debe estar <strong>activo</strong> para poder vender o <strong>inactivo</strong> si ya no se desea ver en el listado.
        <br></br><li>Existencia: debe tener un numero mayor a cero dentro del sistema.
        </ol></table></p>

        <p>&bull;<strong><em> Y podemos guardar el producto <img src="/static/img/guardar.png" alt="guardar" /></em></strong></p>
        <p>&bull; <strong><em> Complete de manera opcional el siguiente campo: </em></strong>Foto producto.</p>
{% endblock %}
