{% extends "base.html" %}
{% block content %}
{% load intdot %}

    <div class="page-title">
        <div class="title_left">
            <h3>Lista Producto</h3>
        </div>
        <div class="title_right">
            <form>
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right top_search">
                     <a class="btn btn-success pull-right" href="/tienda/export/csv"><i  class="fa fa-download"></i> CSV</a>
                 &nbsp;

                    <a class="btn btn-primary pull-right" href="/tienda/productos/new"><i  class="fa fa-plus-square"></i> NUEVO PRODUCTO </a>
            </form>




                </div>
            </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">


                    <div class="x_content">

                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0"
                               width="100%">

                            <thead>
                            <tr>

                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>

                                <th>Precio venta</th>
                                <th>Costo</th>
                                <th>Iva</th>
                                <th>Estado</th>
                                <th>Existencia</th>
                                <th>Foto</th>

                                <th>Accion</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for producto in productos %}
                                <tr>
                                    <td>{{ producto.codigo }}</td>
                                    <td>{{ producto.nombre}}</td>
                                    <td>{{ producto.descripcion}}</td>

                                    <td>{{ producto.precio_venta| intdot }} ₲</td>
                                    <td>{{ producto.costo| intdot }} ₲</td>
                                    <td>{{ producto.iva }}</td>
                                    <td>{{ producto.estado }}</td>
                                    <td>{{ producto.existencia}}</td>
                                    <td>{% if producto.foto_producto %}
                                        <img height="100px" src="/media/{{ producto.foto_producto }}">{% else %}sin
                                        foto{% endif %}</td>



                                    <td><a class="btn btn-info btn-xs" href="/tienda/productos/{{ producto.codigo }}/update">Editar </a>
                                        <a button class="btn btn-danger btn-xs" data-toggle="modal"
                                           data-target="#eliminar-modal" onclick="formEliminar('{{ producto.codigo }}')">Eliminar</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar modal -->
    <div id="eliminar-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <h4>Esta seguro que desea eliminar este Producto?</h4>

                </div>
                <div class="modal-footer">
                    <form method="post" id="eliminar-form">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>

                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        function formEliminar(codigo){
            console.log(codigo);
            $('#eliminar-form').attr('action', '/tienda/productos/' + codigo + '/delete');
            console.log(codigo);
            console.log($('#eliminar-form').attr('action'));
        }
    </script>
{% endblock %}>

{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Lista de Productos</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
<p style="text-align: center;"><span style="font-size: 14pt;">Podr&aacute; visualizar a todos los <strong>Productos</strong> con sus datos, además de poder agregar nuevos.</p>
    <p style="text-align: center;">&nbsp;</p>
        <img src="/static/img/pasos_productoslista.gif" alt="pasos_productoslista" width="800"  style="display: block;
    margin-left: auto;
    margin-right: auto;
   "/>
        <br>
        <hr>
        <p><span style="color: #003366;"><strong>1. Lista de productos :&nbsp;Se puede ver la lista de todos los productos y realizar las siguientes acciones. </strong></span></p>

    <hr>
        <p><br /><span style="color: #003366;"><strong>2. Acciones que podemos realizar sobre cada registro de producto.</strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Editar producto : <img src="/static/img/editar.png" alt="editar" /></strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Eliminar producto : <img src="/static/img/eliminar.png" alt="eliminar" /></strong></span></p>
        <p>&bull; <strong><em>El registro del prodcuto sera eliminado de forma <strong>permanente</strong>.</em></strong></p>
    <hr>
        <p><br /><span style="color: #003366;"><strong>3. Buscar producto <img src="/static/img/busqueda.png" alt="busqueda" /></strong></span></p>
        <p>&bull; <strong><em>Puede buscar por cualquiera de lo campos (Nombre, Descripción, Precio, IVA, Existencia). </em></strong></p>


    <hr>
        <p><br /><span style="color: #003366;"><strong>4.  Filtrar la cantidad de productos en la pantalla.</strong></span></p>

    <hr>
        <p><br /><span style="color: #003366;"><strong>5.  Para crear nuevo producto, haga clic en el ícono <img src="/static/img/nuevo_producto.png" alt="nuevo_producto" /></strong></span></p>
        <p>&bull; <strong><em>Una vez creado el registro de nuevo producto, este se encontrará en la lista. </em></strong></p>
{% endblock %}
