{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>Nuevo Producto</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <form id="crearproducto" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include "forms/form.html" with form=form %}

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-primary" type="button" href="/tienda/productos">Cancelar</a>
                                <button class="btn btn-primary" type="reset">Limpiar</button>
                                <input type="submit" class="btn btn-success" value="Guardar" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script>


        function configurarICheck(element) {
            element.parents('ul').attr('style', 'list-style-type: none;padding:0');
            element.iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        }
        $(document).ready(function () {
            configurarICheck($("[name=iva]"));
            configurarICheck($("[name=estado]"));
            configurarICheck($("[name=control_stock]"));
            useAutonumericCurrency('#id_precio_venta');
            useAutonumericCurrency('#id_costo');
        });


    </script>
{% endblock %}


{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Nuevo Prodcuto</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
<p style="text-align: center;"> <span style="font-size: 12pt;">Cargar campos del productos, según sean <strong>obligatorio u opcionales</strong>.</span></p>
    <p style="text-align: center;">&nbsp;</p>
        <img src="/static/img/pasos_nuevo_producto.gif" alt="pasos_nuevo_producto" width="800"  style="display: block;
    margin-left: auto;
    margin-right: auto;
   "/>
        <br><hr>
        <p><span style="color: #003366;"><strong> 1. Codigo: sera puesto por la escuela para control interno.
            <br><br>2. Nombre del producto.
            <br><br>3. Foto del producto: si esta se encuentra disponible para tener de forma visual un registro.
            <br><br>4. Descripci&oacute;n: breve descripción del producto.
            <br><br>5. Control de Stock: debe realizar el check, si el producto será destinado para la venta.
            <br><br>6. Precio de Venta : el precio final por el cuál sera vendido el producto.
            <br><br>7. Costo : precio de compra del producto.
            <br><br>8. IVA : 5%, 10% o Excentas.
            <br><br>9. Estado: debe estar activo para poder vender o inactivo si ya no estara destinado para la venta.
            <br><br>10. Existencia: debe tener un numero mayor a cero dentro del sistema.
            <hr>
        <p style="text-align: center;"> <span style="font-size: 12pt;"><strong>Acciones  : </strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Guardar registro de producto, clic en : <img src="/static/img/guardar.png" alt="guardar" /></strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Limpiar campos del registro , clic en : <img src="/static/img/limpiar.png" alt="limpiar" /></strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Si no desea guardar el registro dar clic en : <img src="/static/img/cancelar.png" alt="cancelar" /></strong></span></p>
{% endblock %}
