{% extends "base.html" %}
{% block content %}
{% load intdot %}
    <div class="page-title">


            <div style="font-size: 30px;
                     font-weight: bold;
                     color: #2A3F54;
                          text-align: center;">
                        Total Recibos : {{ total.total | intdot }} ₲
                </div>
        <div style="font-size: 15px;
                     font-weight: bold;
                     color: #2A3F54;
                          text-align: center;">
                        <br>
                        Total Efectivo: {{ totale.total| intdot   }} ₲
                <br>
                        Total Tarjeta: {{ totalt.total| intdot  }} ₲
                <br>
                        Total Cheque: {{ totalch.total| intdot  }} ₲

            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right top_search">

            <br>
            </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                  <form method="GET" action="/tienda/recibos/fechas"  class="form form-inline hidden-print">

                            <label for="fecha">Fecha</label>
                            <input class="form-control" type="text" value="{{ fecha_desde }}" name="fecha_desde" data-inputmask="'mask': '99/99/9999'" &nbsp>
                            <input class="form-control" type="text" value="{{ fecha_hasta}}" name="fecha_hasta" data-inputmask="'mask': '99/99/9999'" &nbsp>

                            <label for="ver" class="btn btn-primary"><i class="fa fa-search"></i> Ver</label>
                            <input id="ver" type="submit" name="action" class="hidden" value="Ver">
                            <label for="excel" class="btn btn-success"><i class="fa fa-download"></i> CSV</label>
                            <input id="excel" type="submit" name="action" class="hidden" value="Excel">

                            <br>
                        </form>
                <br>


                    <div class="x_content">

                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0"
                               width="100%">

                            <thead>

                            <tr>
                                <th>Fecha</th>
                                <th>Nro de Factura</th>
                                <th>Nro de Recibo</th>
                                <th>Cliente</th>
                                <th>Monto</th>
                            </tr>

                            </thead>
                            <tbody>

                            {% for recibo in recibos     %}
                                <tr>
                                    <td>{{ recibo.fecha }}</td>
                                    <td><a href="/tienda/ventas/{{ recibo.venta.nro_factura }}">{{ recibo.venta.nro_factura }}</a></td>
                                    <td>{{ recibo.nro_recibo }}</td>
                                    <td>{{ recibo.nombre_cliente }}</td>
                                    <td>{{ recibo.monto | intdot }} ₲</td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar modal -->
    <div id="eliminar-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <h4>Esta seguro que desea cancelar esta Factura?</h4>

                </div>
                <div class="modal-footer">
                    <form method="post" id="eliminar-form">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Cancelar Venta">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        function formEliminar(id){
            $('#eliminar-form').attr('action', '/tienda/ventas/' + id + '/cancelar' );

        }
    </script>
{% endblock %}

{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Lista de Recibos</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
<p style="text-align: center;"><span style="font-size: 14pt;">Lista todos los recibos realizados a nombre del cliente<strong> por rango de fecha seleccionado</strong>.</span></p>
    <p style="text-align: center;">&nbsp;</p>
        <img src="/static/img/pasos_recibolista.gif" alt="pasos_recibolista" width="800"  style="display: block;
    margin-left: auto;
    margin-right: auto;
   "/>
        <br>
        <hr>
            <p><span style="color: #003366;"><strong> 1. Rango de Fecha de la transacción anteriores o actual.
        <hr>
            <p><br /><span style="color: #003366;"><strong>2. Lista las cuentas pendientes.</strong></span></p>
        <hr>
            <p><br /><span style="color: #003366;"><strong>3. Busqueda de reibos. <img src="/static/img/busqueda.png" alt="busqueda" /></strong></span></p>
            <p>&bull; <strong><em>Puede buscar por cualquiera de lo campos (Fecha, Nro Factura, Nro Recibo, Cliente). </em></strong></p>
        <hr>
            <p><br /><span style="color: #003366;"><strong>4.  Exportar registros de recibos a Excel.</strong>
                <img src="/static/img/informe_excel.png" alt="informe_excel" /></span></p>
{% endblock %}
