{% extends "base.html" %}
{% load intdot %}
{% block content %}

    <div class="page-title">
        <div class="title_left">
            <h3>Detalle de la factura</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right top_search">


                </div>
            </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">


                    <div class="x_content">
                        {% if cabecera.estado == 'IN' %}
                            <div class="label label-danger">Cancelado</div>
                        {% endif %}
                        {% if cabecera.estado == 'P' %}
                            <div class="label label-warning">Pendiente</div>
                        {% endif %}
                        {% if cabecera.estado == 'A' %}
                            <div class="label label-success">Pagado</div>
                        {% endif %}

                        <div class="">
                            <p style="margin:0">
                                <strong>Timbrado Nro:</strong> <span
                                    class="bloque-factura-numero-timbrado">{{ talonario.numero_timbrado }}</span><br>
                                <strong>Inicio de Vigencia:</strong> <span
                                    class="bloque-factura-vigencia-desde">{{ talonario.vigencia_desde }}</span>
                                &nbsp;&nbsp;
                                <strong>Fin de Vigencia:</strong> <span
                                    class="bloque-factura-vigencia-hasta">{{ talonario.vigencia_hasta }}</span>

                                <br>

                                <strong>RUC:</strong> <span class=" bloque-factura-ruc">{{ talonario.ruc }}</span><br>
                                <strong>Fecha:</strong> <span>{{ cabecera.fecha }}</span><br>
                                <strong>Factura Nro:</strong> <span
                                    class="bloque-factura-nro-factura">{{ cabecera.nro_factura }}</span>
                            </p>
                            <strong>Total:</strong> <span>{{ cabecera.monto_total | intdot }} ₲</span><br>
                            <strong>Total gravada 5%:</strong> <span>{{ cabecera.total_grav_5 | intdot }} ₲</span>
                            <strong>Total IVA 5%:</strong><span>{{ cabecera.total_iva_5 | intdot }} ₲</span><br>
                            <strong>Total gravada 10%:</strong> <span>{{ cabecera.total_grav_10 | intdot }} ₲</span>
                            <strong>TOTAL IVA 10%:</strong><span>{{ cabecera.total_iva_10 | intdot }} ₲</span><br>
                            <strong>Total exentas:</strong> <span>{{ cabecera.total_grav_exentas | intdot }} ₲</span><br>
                            <strong>Fecha:</strong> <span>{{ cabecera.fecha }}</span><br>
                            <strong>Ruc cliente:</strong> <span>{{ cabecera.cliente.ruc_cliente }}</span><br>
                            <strong>Cliente:</strong> <span>{{ cabecera.cliente.nombre_razon }}</span><br>
                            <strong>Condición de venta: </strong><span>{{ cabecera.tipo_pago }}</span><br>
                            {% if cabecera.tipo_pago == 'Contado' %}
                                {% if pago.pago_efectivo %}
                                    <span>EFECTIVO</span><br>
                                    <strong>Monto Efectivo:</strong> <span>{{ pago.monto_efectivo | intdot }} ₲</span><br>
                                    <strong>Monto Abonado:</strong> <span>{{ pago.monto_efectivo_abonado | intdot }} ₲</span><br>
                                    <strong>Monto Vuelto:</strong> <span>{{ pago.monto_efectivo_vuelto | intdot }} ₲</span><br>
                                {% endif %}
                                {% if pago.pago_tarjeta %}
                                    <span>TARJETA</span><br>
                                    <strong>Monto Tarjeta:</strong> <span>{{ pago.monto_tarjeta | intdot }} ₲</span><br>
                                    <strong>Tarjeta:</strong> <span>{{ pago.tarjeta }}</span><br>
                                    <strong>Tarjeta Nro:</strong> <span>{{ pago.ultimos_tarjeta }}</span>
                                    <strong>Cupón Nro:</strong> <span>{{ pago.nro_autorizacion }}</span>
                                {% endif %}
                                {% if pago.pago_cheque %}
                                    <span>CHEQUE</span><br>
                                    <strong>Monto Cheque:</strong>{{ pago.monto_cheque | intdot }} ₲<span></span><br>
                                    <strong>Banco:</strong> <span>{{ pago.banco }}</span><br>
                                    <strong>Cheque Nro:</strong> <span>{{ pago.nro_cheque }}</span><br>
                                    <strong>Cuenta Nro:</strong> <span>{{ pago.nro_cuenta }}</span><br>
                                    <strong>Librador:</strong> <span>{{ pago.librador }}</span><br>
                                {% endif %}
                            {% else %}
                                <strong>Plazo:</strong> <span>{{ cabecera.credito_plazo }} días</span><br>
                                <strong>Saldo:</strong> <span>{{ saldo | intdot }} ₲</span><br>
                            {% endif %}
                        </div>

                        <h4>Detalle:</h4>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0"
                               width="100%">

                            <thead>

                            <tr>
                                    <th>Cantidad</th>
                                    <th>Descripcion</th>
                                    <th>Precio</th>
                                    <th>Total</th>

                            </tr>

                            </thead>
                            <tbody>

                            {% for detalle in detalles %}
                                <tr>
                                    <td>{{ detalle.cantidad }}</td>
                                    <td>
                                        {% if detalle.producto.codigo == 'CUENTA' %}
                                            CUOTA
                                        {% else %}
                                            {{ detalle.producto.nombre }}
                                        {% endif %}
                                    </td>
                                    <td class="text-right">{{ detalle.precio | intdot }} ₲
                                        &nbsp;
                                    </td>
                                    <td class="text-right">
                                        {% if detalle.monto_10 > 0 %}
                                            {{ detalle.monto_10 | intdot }}
                                        {% elif detalle.monto_5 > 0 %}
                                            {{ detalle.monto_5 | intdot }}
                                        {% else %}
                                            {{ detalle.monto_exento | intdot }}
                                        {% endif %} ₲
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% if cabecera.tipo_pago == 'Crédito' %}
                        <h4>Recibos:</h4>
                        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap display responsive"
                               cellspacing="0"
                               width="100%">

                            <thead>

                            <tr>
                                    <th>Fecha</th>
                                    <th>Nro recibo</th>
                                    <th>Monto</th>
                                    <th class="none">Métodos de pago</th>

                            </tr>

                            </thead>
                            <tbody>

                            {% for recibo in recibos %}
                                <tr>
                                    <td>{{ recibo.fecha }}</td>
                                    <td>{{ recibo.nro_recibo }}</td>
                                    <td class="text-right">{{ recibo.monto | intdot }} ₲</td>
                                    <td><br>
                                        {% if recibo.pago_efectivo %}
                                            <strong><span>Metodo de pago:</span> <span class="pull-right">EFECTIVO</span></strong><br>
                                            <span>Monto Efectivo:</span>
                                            <span class="pull-right">{{ recibo.monto_efectivo | intdot }} ₲</span><br>
                                            <span>Monto Abonado:</span>
                                            <span class="pull-right">{{ recibo.monto_efectivo_abonado | intdot }} ₲</span>
                                            <br>
                                            <span>Monto Vuelto:</span>
                                            <span class="pull-right">{{ recibo.monto_efectivo_vuelto | intdot }} ₲</span>
                                            <br>
                                        {% endif %}
                                        {% if recibo.pago_tarjeta %}
                                            <strong><span>Metodo de pago:</span> <span class="pull-right">TARJETA</span></strong><br>
                                            <span>Monto Tarjeta:</span>
                                            <span class="pull-right">{{ recibo.monto_tarjeta | intdot }} ₲</span><br>
                                            <span>Tarjeta:</span><span class="pull-right">{{ recibo.tarjeta }}</span><br>
                                            <span>Tarjeta Nro:</span>
                                            <span class="pull-right">{{ recibo.ultimos_tarjeta }}</span><br>
                                            <span>Cupón Nro:</span>
                                            <span class="pull-right">{{ recibo.nro_autorizacion }}</span><br>
                                        {% endif %}
                                        {% if recibo.pago_cheque %}
                                            <strong><span>Metodo de pago:</span> <span class="pull-right">CHEQUE</span></strong><br>
                                            <span>Monto Cheque:</span>
                                            <span class="pull-right">{{ recibo.monto_cheque | intdot }} ₲</span><br>
                                            <span>Banco:</span><span class="pull-right">{{ recibo.banco }}</span><br>
                                            <span>Cheque Nro:</span>
                                            <span class="pull-right">{{ recibo.nro_cheque }}</span><br>
                                            <span>Cuenta Nro:</span>
                                            <span class="pull-right">{{ recibo.nro_cuenta }}</span><br>
                                            <span>Librador:</span><span class="pull-right">{{ recibo.librador }}</span>
                                            <br>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <a class="btn btn-success dropdown-toggle btn-md "  onclick="print()">Imprimir</a>
                    <a class="btn btn-primary dropdown-toggle btn-md "    href="/tienda/ventas">Salir </a>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar modal -->
    <div id="eliminar-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <h4>Esta seguro que desea eliminar esta Factura?</h4>

                </div>
                <div class="modal-footer">
                    <form method="post" id="eliminar-form">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>

                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="ticket" class="text-center">

        <img class="img-responsive center-block" width="150em" src="/static/img/empresa.png">
        <h5 class="bloque-factura-nombre">{{ talonario.nombre }}</h5>
        <h5 class=" bloque-factura-actividad-economica">{{ talonario.actividad_economica }}</h5>
        <span class=" bloque-factura-direccion">{{ talonario.direccion }}</span>
        <br>
        <span>Tel: <span class="bloque-factura-telefono">{{ talonario.telefono }}</span></span>
        <hr>
        <p style="margin:0">
            <small><strong>Timbrado Nro <span
                    class="bloque-factura-numero-timbrado">{{ talonario.numero_timbrado }}</span></strong><br>
                Inicio de Vigencia: <span
                        class="bloque-factura-vigencia-desde">{{ talonario.vigencia_desde }}</span><br>
                Fin de Vigencia: <span class="bloque-factura-vigencia-hasta">{{ talonario.vigencia_hasta }}</span>
            </small>
            <br>

            <strong>RUC: <span class=" bloque-factura-ruc">{{ talonario.ruc }}</span></strong>
        </p>
        <h4 class="" style="margin: 0;">Factura</h4>
        <h4 style="margin:5px">Nro: <span
                class="bloque-factura-nro-factura">{{ cabecera.nro_factura }}</span></h4>
        <hr>
        <div class="text-left">
            <table>
                <thead>
                    <tr>
                        <th>Cant.&nbsp;</th>
                        <th>Desc.&nbsp;</th>
                        <th>Precio.&nbsp;&nbsp;</th>
                        <th>Total.</th>
                    </tr>
                </thead>
                {% for detalle in detalles %}
                    <tr>
                        <td>{{ detalle.cantidad }}</td>
                        <td>
                            {% if detalle.producto.codigo == 'CUENTA' %}
                                CUOTA
                            {% else %}
                            {{ detalle.producto.nombre | truncatechars:9  }}
                            {% endif %}
                        </td>
                        <td class="text-right">{{ detalle.precio | intdot }} ₲
                            &nbsp;</td>
                        <td class="text-right">
                            {% if detalle.monto_10 > 0 %}
                                {{ detalle.monto_10 | intdot }}
                            {% elif detalle.monto_5 > 0 %}
                                {{ detalle.monto_5 | intdot}}
                            {% else %}
                                {{ detalle.monto_exento | intdot }}
                            {% endif %} ₲
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <span>TOTAL:</span><span class="pull-right">{{ cabecera.monto_total | intdot }} ₲</span><br>
            <span>TOTAL GRAV. 5%:</span><span class="pull-right">{{ cabecera.total_grav_5 | intdot }} ₲</span><br>
            <span>TOTAL GRAV. 10%:</span><span class="pull-right">{{ cabecera.total_grav_10 | intdot }} ₲</span><br>
            <span>TOTAL EXE.:</span><span class="pull-right">{{ cabecera.total_grav_exentas | intdot }} ₲</span><br>
            <hr>
            <span>LIQUIDACIÓN IVA:</span><br>
            <span>TOTAL IVA 5%:</span><span class="pull-right">{{ cabecera.total_iva_5 | intdot }} ₲</span><br>
            <span>TOTAL IVA 10%:</span><span class="pull-right">{{ cabecera.total_iva_10 | intdot }} ₲</span><br>
            <hr>
            <span>Fecha:</span><span class="pull-right">{{ cabecera.fecha }}</span><br>
            <span>Ruc:</span><span class="pull-right">{{ cabecera.cliente.ruc_cliente }}</span><br>
            <span>Cliente:</span><span class="pull-right">{{ cabecera.cliente.nombre_razon }}</span><br>
            <span>Condición de venta:</span><span class="pull-right">{{ cabecera.tipo_pago }}</span><br>
            {% if cabecera.tipo_pago == 'Crédito' %}
                <span>Plazo:</span><span class="pull-right">{{ cabecera.credito_plazo }} días</span><br>
            {% endif %}
            {% if pago.pago_efectivo %}
                <hr>
                <span>Metodo de pago:</span> <span class="pull-right">EFECTIVO</span><br>
                <span>Monto Efectivo:</span> <span class="pull-right">{{ pago.monto_efectivo | intdot }} ₲</span><br>
                <span>Monto Abonado:</span> <span class="pull-right">{{ pago.monto_efectivo_abonado | intdot }} ₲</span><br>
                <span>Monto Vuelto:</span> <span class="pull-right">{{ pago.monto_efectivo_vuelto | intdot }} ₲</span><br>
            {% endif %}
            {% if pago.pago_tarjeta %}
                <hr>
                <span>Metodo de pago:</span> <span class="pull-right">TARJETA</span><br>
                <span>Monto Tarjeta:</span> <span class="pull-right">{{ pago.monto_tarjeta | intdot }} ₲</span><br>
                <span>Tarjeta:</span><span class="pull-right">{{ pago.tarjeta }}</span><br>
                <span>Tarjeta Nro:</span><span class="pull-right">{{ pago.ultimos_tarjeta }}</span><br>
                <span>Cupón Nro:</span><span class="pull-right">{{ pago.nro_autorizacion }}</span><br>
            {% endif %}
            {% if pago.pago_cheque %}
                <hr>
                <span>Metodo de pago:</span> <span class="pull-right">CHEQUE</span><br>
                <span>Monto Cheque:</span> <span class="pull-right">{{ pago.monto_cheque | intdot }} ₲</span><br>
                <span>Banco:</span><span class="pull-right">{{ pago.banco }}</span><br>
                <span>Cheque Nro:</span><span class="pull-right">{{ pago.nro_cheque }}</span><br>
                <span>Cuenta Nro:</span><span class="pull-right">{{ pago.nro_cuenta }}</span><br>
                <span>Librador:</span><span class="pull-right">{{ pago.librador }}</span><br>
            {% endif %}

        </div>


        <hr>
        <h5>Gracias por su compra!</h5>

    </div>

    <script>
        function formEliminar(id){
            $('#eliminar-form').attr('action', '/tienda/compras/' + id + '/delete' );
        }
    </script>
{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <style>
        @media screen {
             #ticket, #ticket * {
                 display: none;
             }
        }
        @media print {
            body * {
                visibility: hidden;
            }
            hr {
                margin: 1px;
            }
            #ticket, #ticket * {
                visibility: visible !important;
            }

            #ticket {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    </style>
{% endblock %}
