{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3><strong>Nueva Venta</strong></h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <form id="creardetventa" method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ formularioDetalleSet.management_form }}
                        {% include "cabecera-venta.html" with form=form %}

                        <fieldset>
                            <legend></legend>
                            <div class="center text-center">
                                 <div class="btn-group btn-sm">
                                    <button class="btn btn-sm btn-default elimina-detalle" type="button" onclick="eliminaDetalle();event.preventDefault();"><span class="glyphicon glyphicon-minus"></span></button>
                                    <button class="btn btn-sm btn-default agrega-detalle" type="button"  onclick="agregaDetalle();event.preventDefault();"><span class="glyphicon glyphicon-plus"></span></button>
                                    <button class="btn btn-sm btn-default agrega-detalle-cuota" type="button" data-toggle="modal" data-target="#cuenta"> <span class="glyphicon glyphicon-search"></span> Cuota</button>
                                </div>
                            </div>

                            <table class="table table-striped bulk_action jambo_table">
                                <thead>

                                <tr>
                                    <th class="" class="numero">Nro</th>
                                    <th class="hidden" class="id">id</th>
                                    <th class="col-md-1 col-sm-2" class="cantidad">Cantidad</th>
                                    <th class="col-md-7 col-sm-8" class="producto">Descripcion</th>
                                    <th class="col-md-1 col-sm-2" class="precio">Precio</th>
                                    <th class="col-md-1 col-sm-2" class="precio">Exentas</th>
                                    <th class="col-md-1 col-sm-2" class="precio">5%</th>
                                    <th class="col-md-1 col-sm-2" class="precio">10%</th>
                                </tr>
                                </thead>
                                <tbody id="detalles">

                                </tbody>
                            </table>

                        </fieldset>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <a class="btn btn-primary" type="button" href="/tienda/ventas/">Cancelar</a>
                                <input type="submit" class="btn btn-success" value="Guardar"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <table>
        <tr id="row-template" >

            <td class="numero text-center"></td>
            <td class="hidden">{{ formularioDetalleSet.empty_form.id }}</td>
            <td class="hidden"><input type="hidden" id="detalle-__prefix__-producto-iva"></td>
            <td class="cantidad"
                style="padding: 0">{% include "forms/integerfield.html" with field=formularioDetalleSet.empty_form.cantidad %}</td>
            <td data-numero="__prefix__" class="producto"
                style="padding: 0">{{ formularioDetalleSet.empty_form.producto }}</td>
            <td class="precio"
                style="padding: 0">{% include "forms/integerfield.html" with field=formularioDetalleSet.empty_form.precio %}</td>
            <td class="monto-exento" style="padding: 0">{% include "forms/integerfield.html" with field=formularioDetalleSet.empty_form.monto_exento %}</td>
            <td class="monto-5" style="padding: 0">{% include "forms/integerfield.html" with field=formularioDetalleSet.empty_form.monto_5 %}</td>
            <td class="monto-10" style="padding: 0">{% include "forms/integerfield.html" with field=formularioDetalleSet.empty_form.monto_10 %}</td>
        </tr>
            </table>
    </div>

    <!-- Large modal -->

    <div class="modal fade " id="cuenta" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cuentas</h4>
                </div>
                <div class="modal-body">
                    <form>


                        <select name="buscacuenta" data-language="es" id="id_busca_cuenta"
                                data-autocomplete-light-url="/tienda/cuenta-autocomplete/"
                                data-autocomplete-light-function="select2">
                            <option value="" selected="">---------</option>

                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="cuenta_id" value="{{ cuenta.pk }}" />
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="/static/venta.js"></script>
{% endblock %}
