{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>Nueva Asistencia</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content" id="app">

                    <form>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                                <label for="fecha">Fecha</label>
                                <input id="fecha" v-datepicker="dia" v-model="dia" data-inputmask="'mask': '99/99/9999'" class="form-control" type="text">
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label for="grupo">Grupo</label>
                                <select v-model="grupo" name="grupo" data-allow-clear="true" data-placeholder="Todos los Grupos" required="" id="id_grupo"
                                        data-autocomplete-light-url="/escuela/grupo-autocomplete-asistencia/"
                                        data-autocomplete-light-function="select2" tabindex="-1"
                                        class="select2-hidden-accessible" aria-hidden="true">

                                </select>
                            </div>
                        </div>
                    </form>
                    <br>
                    <table class="table table-striped table-bordered dt-responsive nowrap"
                           cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th >Alumno</th>
                            <th >Grupo</th>
                            <th >Comentario</th>
                            <th >Asistencia</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="alumno in alumnos" >
                            <td>[[alumno.nombre]] <span v-if="alumno.inscripcion_vencida" class="label label-warning">Incripción vencida</span></td>
                            <td>[[alumno.grupo.nombre]]</td>
                            <td class="no-padding"><input class="form-control no-margin" type="text" v-model="alumno.asistencia_comentario"></td>
                            <td><span style="display: none">[[alumno.asistencia]]</span><input v-icheck="alumno.asistencia_presente" v-model="alumno.asistencia_presente" type="checkbox"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a class="btn btn-primary" type="button" href="/">Cancelar</a>
                            <div v-on:click="actualizarAsistencia()" class="btn btn-success">Guardar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <script src="/static/asistencia.js"></script>
{% endblock %}

{#AYUDA#}
{% block ayuda_titulo %}
   <p style="text-align: center;"><br /><span style="font-size: 14pt;"><strong>Nueva Asistencia</strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
        <p><span style="color: #003366;"><strong>Debe elegir el Grupo para tomar asistencia de los alumnos.</strong></span></p>
        <p><br />&bull; <strong><em>En el listado solo aparecen los alumnos que pertencen al grupo y el dia especifico</em></strong></p>

{% endblock %}
