{% extends "base.html" %}
{% block content %}

    <div class="page-title">
        <div class="title_left">
            <h3>Lista de Clases</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right top_search">

                    <a class="btn btn-primary pull-right" href="/escuela/clases/new"><i  class="fa fa-plus-square"></i> NUEVA CLASE</a>

                </div>
            </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">


                    <div class="x_content">

                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0"
                               width="100%">

                            <thead>
                            <tr>
                                <th>Nombre de Clase</th>
                                <th>Descripción</th>

                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for clase in clases %}
                                <tr>
                                    <td>{{ clase.nombre }}</td>
                                    <td>{{ clase.descripcion }}</td>

                                    <td><a class="btn btn-info btn-xs" href="/escuela/clases/{{ clase.id }}/update">Editar </a>

                                        <a button class="btn btn-danger btn-xs" data-toggle="modal"
                                           data-target="#eliminar-modal" onclick="formEliminar({{ clase.id }})">Eliminar</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar modal -->
    <div id="eliminar-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <h4>Esta seguro que desea eliminar esta Clase?</h4>

                </div>
                <div class="modal-footer">
                    <form method="post" id="eliminar-form">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>

                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        function formEliminar(id){
            $('#eliminar-form').attr('action', '/escuela/clases/' + id + '/delete' );
        }
    </script>
{% endblock %}>

{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Nueva Clase </span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
<p style="text-align: center;">Podr&aacute; visualizar a todas las <strong>Clases</strong> ademas de agregar nuevas. Siga los siguientes pasos:&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
        <p><strong>Si desea agregar Clases , presione el signo&nbsp;<img src="/static/img/signo_mas.png" alt="signo_mas" /></strong></p>
        <p><span style="color: #003366;"><strong>Opcion 1. Nueva Clase :&nbsp;Ingrese de la clase y descripci&oacute;n, luego presione Enter.</strong></span></p>
        <p>&bull;<strong> Guardar.</strong></p>

        <p><br /><span style="color: #003366;"><strong>Opcion 2. Editar Clase : <img src="/static/img/editar.png" alt="editar" /></strong></span></p>
        <p>&bull; <em><strong>Se muestra el listado y cada campo podr&aacute; ser editado.</strong></em></p>

        <p><br /><span style="color: #003366;"><strong>Opcion 3. : Eliminar Clase : <img src="/static/img/eliminar.png" alt="eliminar" /></strong></span></p>
        <p>&bull; <strong><em>El registro ser&aacute; eliminado de forma <strong>permanente</strong>.</em></strong></p>

        <p><br /><span style="color: #003366;"><strong>Opcion 4. : Buscar Clase:</strong></span></p>
        <p>&bull; <strong><em>Podemos buscar la clase por su nombre o descripci&oacute;n.</em></strong></p>
{% endblock %}
