{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>Nueva Inscripcion</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps anchor">
                            <li>
                                <a href="#step-1" class="selected" isdone="1" rel="1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">
                                              Paso 1<br>
                                              <small>Titular</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2" class="done" isdone="1" rel="2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">
                                              Paso 2<br>
                                              <small>Alumnos</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3" class="done" isdone="1" rel="3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">
                                              Paso 3<br>
                                              <small>Grupos</small>
                                          </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-4" class="done" isdone="1" rel="4">
                                    <span class="step_no">4</span>
                                    <span class="step_descr">
                                              Paso 4<br>
                                              <small>Confirmar</small>
                            </span>
                                </a>
                            </li>
                        </ul>


                        <div class="">
                            <div id="step-1" class="content" style="display: block;">
                                <div id="formulario-titular">
                                    <form class="form-horizontal form-label-left" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% include "forms/form.html" with form=formTitular %}
                                    </form>
                                </div>
                            </div>
                            <div id="step-2" class="content" style="display: none;">
                                <div id="formulario-alumno" style="text-align: center">
                                    <div class="btn-group btn-sm">
                                        <button class="btn btn-sm btn-default" onclick="quitarAlumno()"><span
                                                class="glyphicon-minus"></span></button>
                                        <button class="btn btn-sm btn-default" onclick="alumnoExtra()"><span
                                                class="glyphicon-plus"></span></button>
                                    </div>
                                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                                    </div>
                                </div>
                            </div>
                            <div id="step-3" class="content" style="display: none">
                                <form class="form-horizontal form-label-left" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div id="formulario-inscripcion"></div>
                                </form>
                            </div>

                            </div>
                            <div id="step-4" class="content" style="display: none;">
                                <h3>Resumen</h3>
                                <div id="resumen"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="formularios" style="display:none">

        <div id="formulario-template-alumno">
            <form class="form-horizontal form-label-left">
                {% csrf_token %}
                {% include "forms/form.html" with form=formAlumno %}
            </form>
        </div>
        <div id="formulario-template-incripcion">
            {% csrf_token %}
            {% include "forms/form.html" with form=formInscripcion %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
    window.verificarTitularUrl = '{% url 'verificar_titular' %}';
    </script>
    <script src="/static/inscripcion.js"></script>
{% endblock %}