{% extends "base.html" %}
{% block content %}

    <div class="page-title">
        <div class="title_left">
            <h3>Lista de Inscripciones</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right top_search">

                    <a class="btn btn-primary pull-right" href="/escuela/inscripciones/new"><i  class="fa fa-plus-square"></i> NUEVA INSCRIPCION</a>

                </div>
            </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">


                    <div class="x_content">

                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0"
                               width="100%">

                            <thead>
                            <tr>
                                <th>Alumno</th>
                                <th>Grupo</th>
                                <th>Estado</th>
                                <th>Inicio</th>
                                <th>Fin</th>


                            </tr>
                            </thead>
                            <tbody>

                            {% for inscripcion in inscripciones %}
                                <tr>
                                    <td>{{ inscripcion.alumno }}</td>
                                    <td>{{ inscripcion.grupo }}</td>
                                    <td>{{ inscripcion.estado }}</td>
                                    <td>{{ inscripcion.fecha_inicio }}</td>
                                    <td>{{ inscripcion.fecha_fin }}</td>


{#                                    <td><a class="btn btn-info btn-xs" href="/escuela/inscripciones/{{ inscripcion.id }}/update">Editar </a>#}
{#                                        <a button class="btn btn-danger btn-xs" data-toggle="modal"#}
{#                                           data-target="#eliminar-modal" onclick="formEliminar({{ inscripcion.id }})">Eliminar</a></td>#}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar modal -->
    <div id="eliminar-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <h4>Esta seguro que desea eliminar esta Inscripcion?</h4>

                </div>
                <div class="modal-footer">
                    <form method="post" id="eliminar-form">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>

                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        function formEliminar(id){
            $('#eliminar-form').attr('action', 'escuela/inscripciones/' + id + '/delete);
        }
    </script>
{% endblock %}>

{#AYUDA#}
{% block ayuda_titulo %}
   <p style="text-align: center;"><br /><span style="font-size: 14pt;"><strong>Lista de Inscripciones</strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
    <p style="text-align: center;">Muestra el listado de los alumnos inscriptos esten <strong>Activos ("A") o Inactivos ("I")</strong> </strong>&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>

        <p>&bull; <strong>Si desea realizar una Inscripci&oacute;n Nueva , presione el signo&nbsp;<img src="/static/img/signo_mas.png" alt="signo_mas" /></strong></p>

{% endblock %}
