{% extends "base.html" %}
{% block content %}
    <div class="page-title">
        <div class="title_left">
            <h3>Nuevo Alumno</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <form id="crearalumnos" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include "forms/form.html" with form=form %}

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a class="btn btn-primary" type="button" href="/alumnos">Cancelar</a>
                                <button class="btn btn-primary" type="reset">Limpiar</button>
                                <input type="submit" class="btn btn-success" value="Guardar" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>


        function configurarICheck(element) {
            element.parents('ul').attr('style', 'list-style-type: none;padding:0');
            element.iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        }
        $(document).ready(function () {
            configurarICheck($("[name=sexo]"));
            configurarICheck($("[name=estado]"));
        })
    </script>
{% endblock %}

{#AYUDA#}
{% block ayuda_titulo %}
   <p style="text-align: center;"><br /><span style="font-size: 14pt;"><strong>Nuevo Alumnos</strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
<p style="text-align: center;">Podr&aacute; visualizar a todos los <strong>Alumnos</strong> exitentes, ademas de agregar nuevos. Siga los siguientes pasos:&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
        <p><strong>Si desea agregar m&aacute;s alumnos , presione el signo&nbsp;<img src="/static/img/signo_mas.png" alt="signo_mas" /></strong></p>
        <p><span style="color: #003366;"><strong>Opcion 1. Nuevo alumno :&nbsp;Ingrese el numero de c&eacute;dula y presione Enter.</strong></span></p>
        <p>&bull; <em><strong>Complete de manera obligatoria los siguientes campos:</strong></em>C&eacute;dula, Nombre y Apellido, Sexo, Direcci&oacute;n, Estado</p>
        <p>&bull; <em><strong>Complete de manera opcional los siguientes campos:</strong></em> Tel&eacute;fono, Otro contacto, Fotocopia de C&eacute;dula, Tipo Responsable</p>
        <p>&bull;<strong> Guardar.</strong></p>

        <p><br /><span style="color: #003366;"><strong>Opcion 2. Editar Alumno :</strong></span></p>
        <p>&bull; <em><strong>Se muestra el listado y cada campo podr&aacute; ser editado.</strong></em></p>

        <p><br /><span style="color: #003366;"><strong>Opcion 3. : Eliminar alumno:</strong></span></p>
        <p>&bull; <strong><em>El registro del alumno sera eliminado de forma <strong>permanente</strong>.</em></strong></p>

        <p><br /><span style="color: #003366;"><strong>Opcion 4. : Buscar alumno:</strong></span></p>
        <p>&bull; <strong><em>Podemos buscar el resgistro del alumno sea por nombre, apellido u otro campo.  <img src="/static/img/busqueda.png" alt="busqueda" /></em></strong></p>
{% endblock %}
