{% extends "base.html" %}
{% block content %}

    <div class="page-title">
        <div class="title_left">
            <h3>Lista de Empleados</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right top_search">

                    <a class="btn btn-primary pull-right" href="/empleados/new"><i  class="fa fa-plus-square"></i> NUEVO EMPLEADO</a>

                </div>
            </div>

    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">


                    <div class="x_content">

                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0"
                               width="100%">

                            <thead>

                            <tr>
<tr>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de nacimiento</th>
                            <th>Sexo</th>
                            <th>Dirección</th>
                            <th>Teléfono1</th>
                            <th>Teléfono2</th>
                            <th>Fotocopia Cedula</th>
                            <th>salario</th>
                            <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for empleado in empleados %}
                                <tr>
                                    <td>{{ empleado.cedula }}</td>
                                    <td>{{ empleado.nombre }}</td>
                                    <td>{{ empleado.apellido }}</td>
                                    <td>{{ empleado.fecha_nacimiento }}</td>
                                    <td>{{ empleado.sexo }}</td>
                                    <td>{{ empleado.direccion }}</td>
                                    <td>{{ empleado.telefono1 }}</td>
                                    <td>{{ empleado.telefono2 }}</td>


                                    <td>{% if empleado.fotocopia_cedula %}
                                        <img height="100px" src="/media/{{ empleado.fotocopia_cedula }}">{% else %}sin
                                        fotocopia{% endif %}</td>


                                    <td>{{ empleado.salario}}</td>

                                    <td><a class="btn btn-info btn-xs" href="/empleados/{{ empleado.id }}/update">Editar </a>
                                        <a button class="btn btn-danger btn-xs" data-toggle="modal"
                                           data-target="#eliminar-modal" onclick="formEliminar({{ empleado.id }})">Eliminar</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar modal -->
    <div id="eliminar-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <h4>Esta seguro que desea eliminar este Empleado?</h4>

                </div>
                <div class="modal-footer">
                    <form method="post" id="eliminar-form">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>

                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        function formEliminar(id){
            $('#eliminar-form').attr('action', '/empleados/' + id + '/delete');
        }
    </script>
{% endblock %}
