{% extends "base.html" %}
{% block content %}

<div class="page-title">
    <form>
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right top_search">
                     <a class="btn btn-success pull-right" href="/escuela/titulares/csv"><i  class="fa fa-download"></i> CSV</a>
                 &nbsp;

                    <a class="btn btn-primary pull-right" href="/titulares/new"><i  class="fa fa-plus-square"></i> NUEVO TITULAR </a>
            </div>
            </form>

    </div>
<div class="clearfix"></div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">


                <div class="x_content">

                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                           cellspacing="0"
                           width="100%">

                        <thead>

                        <tr>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de nacimiento</th>
                            <th>Sexo</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Otro contacto</th>
                            <th>Fotocopia de Cédula</th>
                            <th>Estado</th>
                            <th>Tipo responsable</th>

                            <th>Accion</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for titular in titulares %}
                        <tr>
                            <td>{{ titular.cedula }}</td>
                            <td>{{ titular.nombre }}</td>
                            <td>{{ titular.apellido }}</td>
                            <td>{{ titular.fecha_nacimiento }}</td>
                            <td>{{ titular.sexo }}</td>
                            <td>{{ titular.direccion }}</td>
                            <td>{{ titular.telefono1 }}</td>
                            <td>{{ titular.telefono2 }}</td>
                            <td>{% if alumno.imagen %}
                            <img height="100px" src="/media/{{ titular.persona.fotocopia_cedula }}">{% else %}sin
                                        documento{% endif %}</td>
                            <td>{{ titular.estado }}</td>
                            <td>{{ titular.tipo_responsable }}</td>

                            <td><a class="btn btn-info btn-xs" href="/titulares/{{ titular.id }}/update">Editar </a>
                                <a button class="btn btn-danger btn-xs" data-toggle="modal"
                                   data-target="#eliminar-modal" onclick="formEliminar({{ titular.id }})">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

<!-- eliminar modal -->
<div id="eliminar-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Confirmación</h4>
            </div>
            <div class="modal-body">
                <h4>Esta seguro que desea eliminar este Titular?</h4>

            </div>
            <div class="modal-footer">
                <form method="post" id="eliminar-form">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>

                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Eliminar">
                </form>
            </div>

        </div>
    </div>
</div>
<script>
        function formEliminar(id){
            $('#eliminar-form').attr('action', '/titulares/' + id + '/delete');
        }
</script>
{% endblock %}

{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">Lista Titulares</span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}
<p style="text-align: center;"><span style="font-size: 14pt;">Podr&aacute; visualizar a todos los <strong>Titulares</strong> con sus datos, además de poder agregar nuevos.</span></p>
    <p style="text-align: center;">&nbsp;</p>
        <img src="/static/img/pasos_titulareslista.gif" alt="pasos_titulareslista" width="800"  style="display: block;
    margin-left: auto;
    margin-right: auto;
   "/>
        <br><br>

        <hr>
        <p><span style="color: #003366;"><strong>Opcion 1. Lista de titulares :&nbsp;Se puede ver la lista de todos los titulares y realizar las siguientes acciones. </strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Editar Titular : <img src="/static/img/editar.png" alt="editar" /></strong></span></p>
        <p> <br /><span style="color: #003366;"><strong>&bull; Eliminar Titular : <img src="/static/img/eliminar.png" alt="eliminar" /></strong></span></p>
        <p>&bull; <strong><em>El registro del titular sera eliminado de forma <strong>permanente</strong>.</em></strong></p>

    <hr>
        <p><br /><span style="color: #003366;"><strong>Opcion 2.  Filtrar la cantidad de titulares en la pantalla.</strong></span></p>

    <hr>
        <p><br /><span style="color: #003366;"><strong>Opcion 3. : Buscar titular <img src="/static/img/busqueda.png" alt="busqueda" /></strong></span></p>
        <p>&bull; <strong><em>Puede buscar por cualquiera de lo campos (Cédula, Nombre, Apellido, Dirección, Teléfono). </em></strong></p>

    <hr>
        <p><br /><span style="color: #003366;"><strong>Opcion 4. : Para crear un nuevo titular, dar clic a <img src="/static/img/nuevo_titular.png" alt="nuevo_titular" /></strong></span></p>
        <p>&bull; <strong><em>Una vez creado el registro de titular, este se encontrará en la lista. </em></strong></p>
{% endblock %}

