{% load field_type  %}
{% for field in form %}
{#    {{ field|field_type }}#}
    {% if field in form.visible_fields %}
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ field.id_for_label }}">{{ field.label }}<span
                    class="required"></span>
            </label>

    <div class="col-md-6 col-sm-6 col-xs-12">
        {% if field|field_type == 'ImageField' or field|field_type == 'FileField'  %}
            {% include "forms/imagefilefield.html" with field=field %}
        {% elif field|field_type == 'DateField' %}
            {% include "forms/datefield.html" with field=field %}
        {% elif field|field_type == 'IntegerField' %}
            {% include "forms/integerfield.html" with field=field %}
        {% elif field|field_type == 'ModelChoiceField' %}
            {{ field }}
        {% elif field|field_type == 'CustomModelChoiceField' %}
            {{ field }}
        {% elif field|field_type == 'ChoiceField' %}
            {{ field }}
        {% elif field|field_type == 'MultipleChoiceField' %}
            {{ field }}
        {% elif field|field_type == 'RadioSelect' %}
            {{ field }}
        {% elif field|field_type == 'Field' %}
            {{ field }}
        {% elif field|field_type == 'BooleanField' %}
            {{ field }}
        {% else %}
            {% include "forms/charfield.html" with field=field %}
        {% endif %}
            {% if field.errors %}
                <ul class="parsley-errors-list" id="parsley-id-5">
                    {% for error in field.errors %}
                        <li class="parsley-required">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="feedback-message">

            </div>
        </div>
    </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}