{% load field_type  %}
{% for field in form %}
{#    {{ field|field_type }}#}
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ field.id_for_label }}">{{ field.label }}<span
            class="required"></span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {% if field|field_type == 'ImageField' or field|field_type == 'FileField'  %}
            {% include "forms/imagefilefield.html" with field=field %}
        {% elif field|field_type == 'DateField' %}
            {% include "forms/datefield.html" with field=field %}
        {% elif field|field_type == 'IntegerField' %}
            {% include "forms/integerfield.html" with field=field %}
        {% elif field|field_type == 'ModelChoiceField' %}
            {{ field }}
        {% elif field|field_type == 'CustomModelChoiceField' %}
            {{ field }}
        {% elif field|field_type == 'ChoiceField' %}
            {{ field }}
        {% else %}
            {% include "forms/charfield.html" with field=field %}
        {% endif %}
            <div class="feedback-message">

            </div>
        </div>
    </div>
{% endfor %}