{% extends "base.html" %}
{% load intdot %}
{% block content %}

    <div class="page-title">
        <div >
            <h3>Asistencia {{ mes }} | {{ grupo }}</h3>
        </div>
        <div class="title_right">

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                        <form method="GET" action="/reportes/asistencia" class="form form-inline hidden-print">
                            <label for="fecha">Mes/Año: </label>
                            <input id="fecha" style="margin-bottom: 0.37em;margin-right: 0.5em;" name="mes"
                                   class="form-control" type="text" required value="{{ mes }}">
                            <label for="grupo">Grupo: </label>
                            <div style="width: 250px; display: inline-block;margin-bottom: 0.37em;margin-right: 0.5em;">
                                <select id="grupo" style="margin-bottom: 0.37em;margin-right: 0.5em;" name="grupo"  data-autocomplete-light-url="/escuela/grupo-autocomplete/" data-autocomplete-light-function="select2" tabindex="-1"
                                        type="text" required>
                                    <option value="{{ grupo.id }}">{{ grupo }}</option>
                                </select>
                            </div>
                            <label for="ver" class="btn btn-primary"><i class="fa fa-search"></i> Ver</label>
                            <input id="ver" type="submit" name="action" class="hidden" value="Ver">
                            <label for="excel" class="btn btn-success"><i class="fa fa-download"></i> CSV</label>
                            <input id="excel" type="submit" name="action" class="hidden" value="Excel">
                            <button class="btn btn-default" onclick="print()"><i class="fa fa-print"></i> Print</button>
                        </form>
                        <div id="chart-container">
                            <canvas  style="width: 100%; height: 100%" id="chart"></canvas>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Fecha</th>
                                <th>Cédula</th>
                                <th>Nombre</th>
                                <th>Asistencia</th>
                                <th>Comentario</th>
                            </tr>
                            {% for resultado in resultados %}
                            <tr class="data">
                                <td>{{ resultado.fecha }}</td>
                                <td>{{ resultado.cedula }}</td>
                                <td>{{ resultado.nombre }}</td>
                                <td>{{ resultado.asistencia }}</td>
                                <td>{{ resultado.comentario }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
    <style>
        @media screen {
            #chart-container{
                height: 40rem;
                display: block;
            }
            .select2-container {
                margin-bottom: 3px;
            }
        }
        @media print {

            @page {
                size: auto;
                margin-bottom: 1cm;
                margin-top: 1cm;
            }

            body * {
                visibility: hidden;
            }
            .x_content, .x_content *, .page-title, .page-title * {
                visibility: visible;
            }

            tr.data td {
                page-break-inside: avoid;
            }
        }


    </style>



{% endblock %}>

{#AYUDA#}
{% block ayuda_titulo %}
<p style="text-align: center;"><br /><span style="font-size: 16pt;"><strong><span style="color: #003366;">REPORTE </span></strong></span></p>
{% endblock %}
{% block ayuda_contenido %}

{% endblock %}

{% block javascripts %}
    {{ block.super }}
     <script>
        $(document).ready(function(){
            var ctx = document.getElementById("chart");
            function toDate(date){
                var partes = date.split("/");
                return new Date(partes[2] + "-" + partes[1] + "-" + partes[0]);
            }

            var dataAusente = [
                    {% for alumno in alumnos %}
                        {"x": "{{ alumno.Nombre }}", "y": {{ alumno.Ausente }} },
                    {% endfor %}
                ];
            var dataPresente = [
                    {% for alumno in alumnos %}
                        {"x": "{{ alumno.Nombre }}", "y": {{ alumno.Presente }} },
                    {% endfor %}
                ];

            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: dataAusente.map(function (d) {
                        return d.x;
                    }),
                    datasets: [

                        {
                            label: "Presente",
                            backgroundColor: "#26b99a",
                            data: dataPresente.map(function(x){ return x.y}),
                            datalabels: {
                                align: 'end',
                                anchor: 'end',
                                color: function(context) {
                                    return context.dataset.backgroundColor;
                                },
                                font: function(context) {
                                    var w = context.chart.width;
                                    return {
                                        size: w < 512 ? 12 : 14
                                    }
                                },
                                formatter: function(value, context) {
                                    return context.chart.data.labels[context.dataIndex].x;
                                }
                            }
                        },
                        {
                            label: "Ausente",
                            backgroundColor: "#9B59B7",
                            data: dataAusente.map(function(x){ return x.y}),
                            datalabels: {
                                align: 'end',
                                anchor: 'end',
                                color: function(context) {
                                    return context.dataset.backgroundColor;
                                },
                                font: function(context) {
                                    var w = context.chart.width;
                                    return {
                                        size: w < 512 ? 12 : 14,
                                        weight: 500
                                    }
                                },
                                formatter: function(value, context) {
                                    return context.chart.data.labels[context.dataIndex].x;
                                }
                            }
                        },

                    ],
                    options: {
                        responsive: false,
                    },
                    onAnimationComplete: function () {

                        var ctx = this.chart.ctx;
                        ctx.font = this.scale.font;
                        ctx.fillStyle = this.scale.textColor
                        ctx.textAlign = "center";
                        ctx.textBaseline = "bottom";

                        this.datasets.forEach(function (dataset) {
                            dataset.bars.forEach(function (bar) {
                                ctx.fillText(bar.value, bar.x, bar.y - 5);
                            });
                        })
                    }
                },
            });


            $('[name=mes]').datepicker({
                format: 'mm/yyyy',
                viewMode: 'years',
                minViewMode: 'months',
                language: 'es'
            });
        });



    </script>
{% endblock %}

