<div class="left_col scroll-view">
    <div class="navbar nav_title">
        <a href="/  " class="site_title"><img src="/static/img/logo.png" width="25px" class="img-circle"
                                              style="margin: 0.3em 0.6em 0.6em"> <span>AQUASOFT</span></a>
    </div>
    <div class="clearfix"></div>
    <br/>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section" >
{#            <h3 class="text-center">Menú principal</h3>#}
            <ul class="nav side-menu">
            <li><a><img src="/static/img/asistencia_blanco.png" width="27px" style="margin: 0.3em 0.6em 0.6em 0.6em">
                    Alumnos
                    <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/escuela/inscripciones/new"> Nueva inscripción</a></li>
                        <li><a href="/escuela/inscripciones">Inscripciones Activas</a></li>
                        <li><a href="/escuela/inscripciones/inactivas">Inscripciones Inactivas</a></li>
                        <li><a href="/escuela/asistencia/new">Asistencia</a></li>
                        <li><a href="/alumnos">Alumnos</a></li>
                        <li><a href="/titulares">Titulares</a></li>
                        {% if perms.escuela.inscripcion_baja %}
                            <li><a href="/escuela/inscripciones/bajas">Baja de inscripción</a></li>
                        {% endif %}




                    </ul>
                </li>
                <li><a><img src="/static/img/cursos_blanco.png" width="27px" style="margin: 0.3em 0.6em 0.6em 0.6em">
                    Clases
                    <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/escuela/clases">Clases</a></li>
                        <li><a href="/escuela/grupos">Grupos</a></li>
                        {#                         <li><a href="/escuela/etiqueta/new">etiquetas</a></li>#}
                    </ul>
                </li>
                <li><a><img src="/static/img/profesores_blanco.png" width="27px"
                            style="margin: 0.3em 0.6em 0.6em 0.6em">
                    Staff <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/profesores">Profesores</a></li>
                        <li><a href="/empleados">Personales</a></li>
                    </ul>
                </li>
            <li><a><img src="/static/img/indumentaria_blanco.png" width="29px"
                            style="margin: 0.3em 0.6em 0.6em 0.6em">
                    Ventas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/tienda/ventas/new">Vender</a></li>


                        <li><a href="/escuela/cuentas">Cuentas a cobrar</a></li>
                        <li><a href="/tienda/clientes">Clientes</a></li>
                        <li><a href="/tienda/productos">Productos</a></li>
                        {% if perms.tienda.factura_list %}
                            <li><a href="/tienda/facturas">Talonario Factura </a></li>
                        {% endif %}

                        {#                        <li><a href="">mantenimiento de clientes</a></li>#}
                    </ul>
                </li>
                <li><a><img src="/static/img/pagos_blanco.png" width="28px" style="margin: 0.3em 0.6em 0.6em 0.6em">
                    Finanzas
                    <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/tienda/caja">Caja Chica Diaria</a></li>
                        <li><a href="/tienda/compras">Compras Diaria</a></li>
                        <li><a href="/tienda/ventas">Ventas Diarias</a></li>
                        <li><a href="/tienda/ventas/canceladas">Ventas canceladas Diarias</a></li>
                        <li><a href="/tienda/ventas/fechas">Ventas por rango de fechas</a></li>
                        <li><a href="/tienda/ventas/credito/fechas">Ventas a Crédito por rango de fechas</a></li>
                        <li><a href="/tienda/estado_cuenta">Estado de cuenta</a></li>

                    </ul>
                </li>
                <li><a><img src="/static/img/reportes_blanco.png" width="29px" style="margin: 0.3em 0.6em 0.6em 0.6em">
                    Reportes <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/reportes/grupo/alumnos">Alumnos por Grupo</a></li>
                        <li><a href="/reportes/asistencia">Asistencia Mensual </a></li>
                        {% if perms.reporte.balance %}
                            <li><a href="/reportes/balance">Balance Mensual</a></li>
                        {% endif %}
                        <li><a href="/reportes/compra">Libro Compra</a></li>
                        <li><a href="/reportes/venta">Libro Venta</a></li>
                        <li><a href="/reportes/pagos/tarjetas">Cobros con Tarjeta</a></li>
                    </ul>
                </li>
                <li><a><img src="/static/img/ajustes_blanco.png" width="25px" style="margin: 0.3em 0.6em 0.6em 0.6em">
                    Ajustes <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        {% if perms %}
                            <li><a href="/admin/auth/user/">Usuarios</a></li>
                        {% endif %}
                        <li><a href="/admin/auth/group/">Roles</a></li>
                        <li><a href="/admin/easyaudit/crudevent/">Auditoría</a></li>


                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>
